@(currentPage: Page[Friend], currentOrderBy: Int, currentFilter: String)(
        implicit flash: play.api.mvc.Flash, messages: Messages)

    @import b3.vertical.fieldConstructor

    @****************************************
    * Helper generating navigation links *
    ****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.FriendsController.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
        if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main("All friends") {

    <h1>Friends: @currentPage.total</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        @b3.form(action = routes.FriendsController.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by FIO...">
            <input type="submit" id="searchsubmit" value="Filter by FIO" class="btn primary">
        }

        <a class="btn success" id="add" href="@routes.FriendsController.create()">Add a new friend</a>
    </div>

    @Option(currentPage.items).filterNot(_.isEmpty).map { friends =>

    <table class="friends zebra-striped">
        <thead>
            <tr>
                @header(2, "FIO")
                @header(3, "Phone number")
                @header(4, "Social networks")
                @header(5, "Email")
                @header(6, "Comment")
            </tr>
        </thead>
        <tbody>

        @friends.map { friend =>
            <tr>
                <td><a href="@routes.FriendsController.edit(friend.id.get)">@friend.fio</a></td>
                <td>
                @friend.phone_number.getOrElse {
                    <em>-</em>
                }
                </td>
                <td>
                @friend.social_number.getOrElse {
                    <em>-</em>
                }
                </td>
                <td>
                @friend.email.getOrElse {
                    <em>-</em>
                }
                </td>
                <td>
                @friend.comment.getOrElse {
                    <em>-</em>
                }
                </td>
            </tr>
        }

        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previos</a>
            </li>
            }.getOrElse {
                <li class="prev disabled">
                    <a>&larr; Previos</a>
                </li>
            }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + friends.size) of @currentPage.total</a>
        </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>
    </div>

    }.getOrElse {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    }
}