@(houseForm: Form[PublishingHouse])(implicit messages: Messages)

    @import b3.vertical.fieldConstructor

    @main("Add a publishing house") {

    <h1>Add a publishing house</h1>

    @b3.form(routes.PublishingHouseController.save()) {
        <div class = "row form-row">
            @b3.text(houseForm("Name"), '_label -> "Name", '_help -> "")
        </div>

        <div class="actions">
            <input type="submit" value="Create this publishing house" class="btn primary"> or
            <a href="@routes.PublishingHouseController.list()" class="btn">Close</a>
        </div>
    }
}
