@(friendForm: Form[Friend])(implicit messages: Messages)
@import b3.vertical.fieldConstructor

    @main("Add a friend") {

    <h1>Add a friend</h1>

    @b3.form(routes.FriendsController.save()) {

            <div class = "row form-row">
            @b3.text( friendForm("FIO"), '_hiddenLabel -> "FIO", '_showIconOnError -> true,
                '_help -> "it can be one or more words", 'placeholder -> "Ivanov Ivan Ivanovich")
            </div>

            <div class = "row form-row">
            @b3.text( friendForm("Phone number"), '_label -> "Phone number", 'placeholder -> "8-800-555-35-35", '_showIconOnError -> true,
                '_help -> "from 0 to 9 including '-'")
            </div>

            <div class = "row form-row">
            @b3.text( friendForm("Social networks"), '_label -> "Social networks", '_showIconOnError -> true,
                '_help -> "vk, facebook, twitter, ...", 'placeholder -> "https://vk.com/vanvan" )
            </div>

            <div class = "row form-row">
            @b3.email( friendForm("Email"), '_label -> "Email", '_help -> "any email adress", '_showIconOnError -> true,
                '_help -> "vk, facebook, twitter, ...", 'placeholder -> "Ivan@example.com")
            </div>

            <div class = "row form-row">
            @b3.text( friendForm("Comment"), '_label -> "Comment", '_help -> "what do you think about this person?", '_showIconOnError -> true,
                'placeholder -> "he is a good person!")
            </div>

        <div class="actions">
            <input type="submit" value="Create this friend" class="btn primary"> or
            <a href="@routes.FriendsController.list()" class="btn">Close</a>
        </div>
    }
}
