@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen"
        href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen"
        href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.FriendsController.list()">
                    Friends
                </a>
                <a href="@routes.PublishingHouseController.list()">
                    Publishing houses
                </a>
                <a href="@routes.GenreController.list()">
                    Genres
                </a>
                <a href="@routes.BookController.list()">
                    Books
                </a>
                <a href="@routes.BorrowingController.list()">
                    Borrows
                </a>
            </h1>
        </header>

        <section id="main">
        @content
        </section>
    </body>

</html>